@using Epam.ListUsers.UI.WebInterface.Models
@model UserModelForEdit

@{
    ViewBag.Title = "Пользователи";
}

<h2>Редактирование пользователя</h2>

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Введите верные данные</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.Label("Фотография", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img id="show-image" src="@Url.Action("Get", new { id = @Model.Id })" />
                <input id="image" type="file" name="uploadedFile" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Фамилия Имя", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Дата рождения", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (Model.Awards.Count != 0)
        {
            <table class="table">
                <tr>
                    <th>
                        <span>Награды</span>
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Awards)
                {
                    <tr>
                        <td>
                            <p class="data"><em>@item.Title</em></p>
                        </td>
                        <td>
                            @Html.ActionLink("Посмотреть", "DetailsAward", new { idUser = Model.Id, idAward = item.Id }) |
                            <a class="delete" data-id-user="@Model.Id" data-id-award="@item.Id" data-message="Вы уверены что хотите удалить награду @item.Title у пользователя @Model.Name?">Удалить</a>
                        </td>
                    </tr>
                }
            </table>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Добавить награду", "ToAward", new { idUser = Model.Id }, new { @class = "btn btn-default" })
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>

<form name="id" action="/User/ReAward" method="post">
    <input class="hidden" name="idUser" />
    <input class="hidden" name="idAward" />
</form>

@Html.Partial("ModalWindow")
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/APP/ControlModalWindow.js"></script>
    <script src="~/Scripts/APP/UpdateImage.js"></script>
}