@model Epam.ListUsers.UI.WebInterface.Models.AwardModel

@{
    ViewBag.Title = "Награды";
}

<h2>Создание новой награды</h2>

@using (Html.BeginForm("Create", "Award", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Заполните данные:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Изображение", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img id="show-image" src="@Url.Action("Get")" />
                <input id="image" type="file" name="uploadedFile" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Название награды", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>  
    <script src="~/Scripts/APP/UpdateImage.js"></script>  
}