@using Epam.ListUsers.UI.WebInterface.Models
@model IEnumerable<AwardModel>

@{
    ViewBag.Title = "Награды";
}

<h2>Награды</h2>

<p>
    @Html.ActionLink("Создать новую", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            <span>Название награды</span>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            <img class="icon" src="@Url.Action("Get", new { id = @item.Id })" />
        </td>
        <td>
            <p class="data"><em>@item.Title</em></p>
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Посмотреть", "Details", new { id = item.Id }) |
            <a class="delete" data-id="@item.Id" data-message="Вы уверены что хотите удалить награду @item.Title?">Удалить</a>
        </td>
    </tr>
}

</table>
@Html.ActionLink("На главную страницу", "Index", "Home", null, new { @class = "btn btn-default" })

<form name="id" action="/Award/Delete" method="post">
    <input class="hidden" name="id">
</form>

@Html.Partial("ModalWindow")
@section scripts{
    <script src="~/Scripts/APP/ControlModalWindow.js"></script>
}
